@charset "utf-8";

/* Custom CSS Stylesheet */

/* ====================== GENERAL ====================== */

body,
td,
th,
p {
    font-family: 'Montserrat', sans-serif;

    color: #222629;

}

body {
    background-color: #fdfdfd;
    margin: 0;
    position: relative;
}

ul,
li {
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    font-weight: 300;
}

a {
    color: #bace00;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #bace00;
    text-decoration: none;
}

a img {
    border: none 0px #fff;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: font-family: 'Lobster', cursive;
    margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}




/* ====================== * HEADER * ====================== */

#header {
    z-index: 100;
    background-color: #222629;
    height: 10vh;
    position: fixed;
    top: 0;
    width: 100%;

}


.logo {
    padding: 0.5em;
}


/* ================ Navigation ================ */

nav {
    width: 100%;
    text-align: center;
    z-index: 100;
    background-color: #222629;
    padding: 0;
    margin: 0;
}

nav h1 {
    margin: auto;
}

nav h1 a {
    color: #222629;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 10px;

}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #bace00;
    color: #222629;
    font-size: 17px;
    margin-top: 0;
    width: 100%;
    z-index: 50;
    text-align: left;
}

/* Display list items side by side */

#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li + li:before {
    padding: 8px;
    color: #222629;
    content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
    color: #222629;
    text-decoration: none;
    font-weight: 600;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
    color: #86a200;
    text-decoration: underline;
}

/* *** *** ================ PAGE: Landing ================ *** *** */

/* ====================== * MAIN * ====================== */

#maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
}

/* ================ Hero ================ */

.hero {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-columns: 1;
    /*parallax*/
    background-image: url('../img/home%20hero%20foodness.jpg');
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}


.hero-header,
.hero-subheader {
    grid-row: 2/3;
    grid-column: 1;
    font-family: 'Lobster', cursive;
    color: #bace00;
    padding: 0 0.5em;
    justify-self: center;
    align-self: center;

}

.hero-header {
    grid-row: 2/3;
    grid-column: 1;
    font-size: 2em;
    margin: 0.67em 0;
    align-self: end;
}

.hero-subheader {
    grid-row: 3/4;
    grid-column: 1;
    align-self: start;
    color: #fef1e6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

/* ================ Restaurant Filtering ================ */

.filter-options {
    grid-row: 4/5;
    grid-column: 1;
    width: 100%;
    background-color: transparent;
    align-self: start;
    justify-content: center;
    border-radius: 25px 0 25px 0;


}

/*
.filter-options h2 {
    color: white;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    margin: 0 20px;
}
*/

.filter-options select {
    background-color: #fef1e6;
    border: 1px solid #fef1e6;
    color: #222629;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    height: 50px;
    letter-spacing: 0;
    width: 250px;
    margin: 1em;



}

option:hover {
    background-color: #bace00;
    color: #222629;
}

select option:hover {
    box-shadow: 0 0 10px 10px #bace00;
    inset;
}

/* ================ Map ================ */

#map {
    margin-top: 0;
    height: 400px;
    width: 100%;
    background-color: #222629;
}


/* ================ Restaurant Listing ================ */

.restaurants-container {
    /*parallax*/
    background-image: url('../img/background%20foodness%202.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#restaurants-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: outside none none;
    margin: 0;
    padding: 30px 15px 60px;
    text-align: center;
}

#restaurants-list li {
    background-color: #222629;
    color: #fef1e6;
    font-family: 'Montserrat', sans-serif;
    margin: 1em;
    min-height: 380px;

    text-align: left;
    width: 270px;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 50px 0 50px 0;
}

#restaurants-list .restaurant-img {
    margin: 0;
    max-width: 100%;
    min-width: 270px;
    height: auto;
    border-radius: 50px 0 0 0;
}

#restaurants-list li h2 {
    color: #bace00;
    font-family: 'Lobster', cursive;
    font-weight: 200;
    letter-spacing: 0;
    padding: 0 30px 25px;
    font-size: 2rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
}

#restaurants-list p {
    margin: 0;
    font-size: 1em;
    padding: 0 30px 25px;
    color: #fef1e6;
    font-weight: 500;
}

#restaurants-list li a {
    background-color: #86a200;
    color: #222629;
    font-weight: 500;
    display: inline-block;
    font-size: 10pt;
    margin-bottom: 30px;
    margin-left: 25px;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;


}

/* *** *** ================ PAGE: Restaurant Details ================ *** *** */

/* ========== Restaurant Details Layout ========== */

.inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.inside #maincontent-top {
    margin: 15vh 0 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 2;
}

.inside #restaurant-container {
    grid-column: 1;
    background-color: #222629;
}

.inside #map-container {
    grid-column: 2;
    grid-row: 1;
    background: white none repeat scroll 0 0;
    right: 0;
    height: 100%;
    width: 100%;
    align-self: baseline;

}

.inside #reviews-container {
    /*parallax*/
    background-image: url('../img/background%20foodness%202.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
    margin-top: 0;
}

.inside #footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

#restaurant-name {
    font-family: 'Lobster', cursive;
    color: #bace00;
    margin: 3em auto 1em 1em;
    text-align: left;
    font-size: 2rem;
    line-height: 110%;
    font-weight: 200;


}

#restaurant-img {
    width: 100%;
}

#restaurant-address {
    font-size: 12pt;
    margin: 10px 0px;
    color: #bace00;

}

#restaurant-cuisine {
    background-color: #bace00;
    color: #222629;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
    border-radius: 0 0 50px 0;
    margin: 1em auto auto 0;
}

#restaurant-hours td {
    color: #e0e0e0;
    border-radius: 50px 0 50px 0;
    font-weight: 200;
    justify-self: center;
}

#restaurant-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;

}

#reviews-container {
    padding: 1em;
    width: 100%;
    height: auto;
    padding-bottom: 10em;
}

#reviews-container h3 {
    background-color: #bace00;
    color: #222629;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    margin: 1em 0 auto auto;
    border-radius: 50px 0 0 0;
}

#reviews-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#reviews-list li {
    display: block;
    list-style-type: none;
    overflow: hidden;
    width: 90%;
    background-color: #222629;
    color: #e0e0e0;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    border-radius: 0 50px 0 50px;
    display: flex;
    flex-wrap: wrap;
    margin: 1em auto 1em 0;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
}

#reviews-list li p {
    margin: 0 0 10px;
    color: #e0e0e0;
    padding: 1em;


}

#reviews-list li p:first-of-type {
    background-color: #86a200;
    color: #222629;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Lobster', cursive;
    width: 30%;
    border-bottom: 1px solid #bace00;
    ;
}

#reviews-list li p:nth-of-type(2) {
    border-bottom: 1px solid #bace00;
    width: 25%;
}

#reviews-list li p:nth-of-type(3) {
    color: #bace00;
    text-align: right;
    width: 30%;
    border-bottom: 1px solid #bace00;
    font-size: 1.5em;
}



/* ====================== FOOTER ====================== */

#footer {
    font-size: 0.75rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 0.75;
    background-color: #222629;
    align-content: center;
    justify-content: center;
    width: 100%;
    color: #fef1e6;
    padding: 0.5em;
}

.foodness-foot {
    font-family: 'Lobster', cursive;
    color: #bace00;
    text-transform: capitalize;
    font-size: 1.25em;
}

.copyright,
.copyright > p {
    background-color: #222629;
    width: 100%;
    margin: 1em 0 0 0;
    color: #fef1e6;
    font-size: 1em;
}

.credits {
    background-color: #bace00;
    width: 100%;
    margin-bottom: 0;
}

.credits > p {
    font-size: 1em;
    margin-bottom: 0;
}

.credits > p > a {
    color: #222629;
    font-weight: 600;
}

/* *** *** styling -> from Materialize.css *** *** */

.container {
    margin: 0 auto;

}

.card {

    position: relative;
    margin: 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
}


/* ====================== MEDIA QUERIES ====================== */

/* *** *** *** PHONE & TABLET *** *** ****/

@media screen and (max-width: 768px) {
    /*GENERAL*/
    .hero {
        background-attachment: scroll;
    }

    /* ======PAGE: restaurant info ======*/
    .inside #maincontent-top {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 2;
    }
    .inside #restaurant-container {
        grid-row: 1/2;
        background-color: #222629;
    }

    .inside #map-container {
        grid-column: 1;
        grid-row: 2/3;
        padding: 0;
        margin: 0;
    }

    .inside #map {
        background-color: #ccc;
        height: 50vh;
        width: 100vw;
        margin-top: 0;
        align-self: center;
    }


    /* .inside #maincontent-top {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        height: auto;

    }
    .inside #restaurant-container {
        width: 100%;
        background-color: #222629;
    }

    .inside #map-container {
        width: 100%;
        grid-row: 2;
    }

    .inside #map {
        background-color: #ccc;
        height: auto;
        width: 100vw;
        margin-top: 0;

    }*/
    .hide-on-small {
        display: none !important;
    }

    #restaurant-address {
        padding: 1em;
    }
    /*TABLE*/
    table.responsive-table {
        width: auto;
        display: block;
        position: relative;
        margin: 1em;
        justify-content: center;
        align-content: center;
        align-self: center;
    }

    table.responsive-table th,
    table.responsive-table td {
        margin: 0;
        vertical-align: center;
        align-self: center;
    }


    table.responsive-table tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
    }
    table.responsive-table tbody tr {
        display: inline-block;
        vertical-align: center;
    }

    table.responsive-table td {
        display: block;
        min-height: 1em;
        text-align: center;
    }
    table.responsive-table tr {
        padding: 1em;
        text-align: center;
    }

}

/*-------------THE ᕕ( ᐛ )ᕗ END-----------------*/
